In [13]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
print(d['2']['Two']['place'][3])

TypeError: list indices must be integers or slices, not str

IndentationError: expected an indented block after 'if' statement on line 4 (676800055.py, line 5)

In [46]:
values = input("enter the some numbers commas:")
list = (values.split(','))
print(list)
"========"
values = input("enter the some commas:")
tup = (values.split(','))
print(tup)

enter the some numbers commas:1,22,33,4,6
['1', '22', '33', '4', '6']
enter the some commas:20,30,50
['20', '30', '50']

In [50]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list.pop(0))
print(color_list.pop())

Red
Black

In [67]:
list=[1,2,3,4,5,6,7,8,9,10]
print(type(list))
"-------"
print(9 in list)
print(12 in list)

<class 'list'>
True
False

In [92]:
def addition(a,b):
def subtraction(a,b):
# def subtraction(A,B):
    value1 = float(input("Enter the a value:"))
    value2 = float(input("Enter the b value:"))
# value2 = float(input"Enter the A,B value:")
    addition=value1+value2
    subtraction=value1-value2
    
    
# subtraction=A-B
    return(addition)
#     subtraction=value1-value2
    return(subtraction)
# return(A,B)

IndentationError: expected an indented block after function definition on line 1 (1020465568.py, line 2)

In [93]:
addition(10,50)
subtraction(10,50)

Enter the a value:10
Enter the b value:50

NameError: name 'subtraction' is not defined

In [23]:
# sum the numbers from 1 to 20 using for loop
n=int(input(" Enter the limit:"))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

 Enter the limit:12
78

In [18]:
# 5)Write code to test whether the given number lies between 1 and 10
n=int(input("Enter the Number:"))
# for i in range(1,10):
if n<=10:
    print("the number lies between 1 and 10")
else:
    print("the number not lies between 1 and 10")

Enter the Number:2
the number lies between 1 and 10

In [25]:
# Display multiples of 2 from 10 to 50 using range
for i in range(10,51,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [27]:
for i in range(10,51):
    if i%2==0:
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [40]:
def calculation(a,b):
    Addition = a+b
    Subtraction = a-b
    return Addition,Subtraction

In [37]:
calculation(5,10)

(15, -5)

In [45]:
def calculation(a,b):
    Addition = a+b
    Subtraction = a-b
    print(Addition,Subtraction)

In [46]:
calculation(10,50)

60 -40

In [43]:
calculation(30,20)

(50, 10)

In [39]:
# Generate a Python list of all the even numbers between 4 to 30
for i in range(4,31):
    if i % 2 == 0:
        print(list(i))

TypeError: 'list' object is not callable

In [ ]:
# reate a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both,
# and if the salary is missing in function call it should show it as 9000

In [13]:
def showEmployee(x,y):
    x = str(input("Employee Name:"))
    y = int(input("Salary:"))
    if type(x)=="str":
            print("Employee Name is shown as a string")
    elif: 
        type(y)==" ":
            print("9000")
    else:
            print("eeee")

SyntaxError: invalid syntax (25845106.py, line 6)

In [8]:

showEmployee(1000,"tre")

Employee Name:10000
Salary:548
Employee Name is shown as a string

In [ ]:
# Write a recursive function to calculate the sum of numbers from 0 to 10

In [12]:
i=0
def recursion(i):
    sum<=10
    sum = sum+i
    print("The sum of the numbers from 0 to 10 is:",sum)
recursion(i)

UnboundLocalError: local variable 'sum' referenced before assignment

In [ ]:
# Generate a Python list of all the even numbers between 4 to 30

In [1]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [4]:
file_name=input('Enter the name of file')
a=file_name.split('.')
print(a)

Enter the name of filerahini sathish mithwin
['rahini sathish mithwin']

In [14]:
x = int(input("Input an integer : "))
n1 = int( "%s" % x )
n2 = int( "%s%s" % (x,x) )
n3 = int( "%s%s%s" % (x,x,x) )
print (n1+n2+n3)

Input an integer : 8
984

In [15]:
def sumofarray(b):
    add=0
    for i in b:
        add=add+i
    return add

In [20]:
sumofarray(10)

TypeError: 'int' object is not iterable

In [21]:
def table(n,i):
    print(n*i)
    i=i+1
    if i<=10:
        table(n,i)

In [22]:
table(12,1)

12
24
36
48
60
72
84
96
108
120

In [23]:
string = 'Hello 1 World 2'
vowels = ('a','e','i','o','u')
''.join([c for c in string if c not in vowels])

'Hll 1 Wrld 2'